.header {
  width: 100%;
  height: 100px;
  background-color: #3a72f8;
  position: fixed;
  top: 0;
  left: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}
.user-info {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.user-info p {
  margin-right: 19px;
  font-size: 20px;
}
.sair-link {
  color: white;
  font-size: 20px;
}
